@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", cursive;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}

.heading {
    font-size: 2.5em;
}

.cart-container {
    width: 300px;
    max-height: 500px;
    background-color: rgba(0,193,184, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.cart-heading {
    margin-left: 15px;
    color: pink;
    text-shadow: 0 0 2px black;
}

.cart-item-image {
    border-radius: 50%;
    width: 50px;
}

.cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.cart-item-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-name,
.cart-item-price {
    font-size: 1.1em;
}

.total-title,
.total-price {
    font-size: 1.3em;
}

.total-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.button {
    background: none;
    border: none;
    padding: 0.35em;
    font-size: 1.4em;
    border-radius: 3px;
    font-family: "Bebas Neue", cursive;
    cursor: pointer;
}

.clear-button {
    border: black 1px solid;
}

.checkout-button {
    border: rgb(251, 74, 104) 1px solid;
    color: rgb(251, 74, 104);
}

.clear-button:hover {
    background-color: black;
    color: pink;
}

.checkout-button:hover {
    background-color: rgb(251, 74, 104);
    color: black;
}

.store-container {
    display: flex;
    flex-direction: column;
}

.store-heading {
    text-align: center;
    margin-top: 15px;
    color: orange;
}

.store-items {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.store-item {
    margin: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #e2e2e2;
}

.store-item-image-container {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.store-item-image {
    width: 295px;
    height: 245px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 1s;
}

.store-item-description {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;   
}

.store-item-name,
.store-item-price {
    font-size: 1.45em;
}

.cart-icon-container {
    background: orange;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin-right: -100px;
    margin-bottom: -100px;
    border-radius: 15px;
    transition: margin 1s;
    position: absolute;
}

.cart-icon-container {
    padding-left: 10px;
    padding-top: 10px;
}

.trash-icon {
    transition: all 0.5s ease-in-out;
    color: #c93e76;
}
.store-item-image-container:hover .cart-icon-container   {
    margin-right: -55px;
    margin-bottom: -55px
}

.store-item-image-container:hover .store-item-image { 
    transform: scale(1.1);
}

.trash-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}